*{
    margin: 0px;
    padding: 0px;
}
.footer-container{
    background-color: #664444;
    text-align: center;
    padding: 20px 0 5px 0;
    
}
.brand-name{
    font-family: cursive;
    color: #ffffff;
    font-size: 25px;
    line-height: 20px;
    
}
.copy-right{
    font-size: 12px;
    color: #ffffff;
}