.nav-bg{
    background-color: #664444;
    position: sticky;
}
.bag-icon{
    color: #ffffff;
    margin-top: 13px;
    margin-left: 20px;

}

.user-account {
    background-color: #ffffff;
    color : #000000;
    font-size: 13px;
    height: 27px;
    width: 27px;
    border-radius: 30px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 0px;
    text-align: center;
}

.logo-name{
    font-family: cursive;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
    color: #ffffff;
}


.cart-link-icon{
    width: 20px;
    margin-left: 30px;
}