.nav-header{
    background-color: #664444;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    position: sticky;
}
.nav-items-container{
    display: flex;
    list-style-type: none;
    margin: auto 0;
    margin-right: 10px;
}
.nav-item{
    text-decoration: none;
    padding: 0 10px;
    color: #ffffff;
}
.nav-logo{
    font-size: 25px;
    margin-left: 20px;
    color: #ffffff;
}
.nav-profile-item{
    background-color: #ffffff;
    font-size: 13px;
    padding: 6px 10px;
    border-radius: 50%;
    color: #000000;
    text-align: center;
    margin-left: 50px;
}
.logout-button{
    font-size: 10px;
    color: #ffffff;
    padding: 4px 10px;
    border : 0px solid;
    border-radius: 2px;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
}
.cart-items-count-badge{
    background-color: aquamarine;
    color: #000000;
    font-size: 12px;
    padding: 1px 6px;
    margin-left: 5px;
    border-radius: 50%;
    font-weight: 500;
    
}