.nav-bg{
    background-color: #664444;
}
.bag-icon{
    color: #ffffff;
    margin-top: 13px;
    margin-left: 20px;

}
.user-account {
    background-color: #ffffff;
    color : #000000;
    font-size: 13px;
    height: 27px;
    width: 27px;
    border-radius: 30px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 0px;
    text-align: center;
}
.bag-icon{
    color: #ffffff;
    font-size: 25px;
    padding-top: 7px;
}
.logo-name{
    font-family: cursive;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.notification-count-button{
    background-color: #ffffff;
    border-width: 0px;
    color: #000000;
    height: 15px;
    width: 14px;
    font-size: 8px;
    border-radius: 15px;
    padding: 0px 1px 0px 1px;
    margin-top: 15px;
}
