.my-cart-container{
    text-align: center;
}
.my-cart-container h1{
    margin-top: 30px;
    margin-bottom: 50px;
}

.cart-item-img{
    height: 70px;
    width: 70px;
}
.cart-item-container{
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    border: 0px solid;
    border-radius: 6px;
    margin: 20px 200px;
    padding: 20px;
}
.cart-item-price-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 150px;
    
}
.cart-item-remove-button{
    height: 25px;
    width: 25px;
    border: 0px solid;
    border-radius: 50%;
    text-align: center;
    margin: auto 30px;
    font-weight: bold;
}