.cart-container-one{
    width: 65%;
    height: 100vh;
}
.cart-container{
    display: flex;
}

.cart-list-top-container{
    display: flex;
    justify-content: space-between;
    margin: 15px 40px;
}
.remove-all-button{
    width: 100px;
    height: 30px;
    border: 2px solid;
    font-size: 13px;
    border-radius: 4px;
    background-color: transparent;
    color: blue;
    cursor: pointer;
}
.cart-container-two{
    width: 35%;
    height: 100vh;
    background-color: #a26e6e;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.cart-order-details-head{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
    text-decoration: underline;
}
.cart-order-total{
    font-size: 15px;
    font-family: 500;
    line-height: 5px;
}
.cart-order-total-price{
    font-size: 20px;
    font-weight: 700;
}
.total-items-count{
    font-size: 13px;
    line-height: 0px;
}
.checkout-button{
    width: 150px;
    padding: 4px 0px;
    align-self: center;
    margin-top: 20px;
    border: 0px solid;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
}
.cart-order-details{
    margin-top: 100px;
}