.products-page-top-container{
    display: flex;
    justify-content: space-between;
    position: static;
}
.products-list-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    margin-top:100px;
}
.products-page-top-container h1{
    margin-top: 25px;
    margin-left: 50px;
    
}
.products-page-input-element{
    width: 250px;
    height: 35px;
    border-radius: 3px;
    margin-right: 5px;
    padding-left: 10px;
}
.products-page-input-submit{
    width: 80px;
    height: 35px;
    border-radius: 3px;
}
.products-page-input-container{
    margin-top: 25px;
    margin-right: 50px;
    
}
